<!DOCTYPE html>

<html>
<!--Metadados-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Questão 04</title>
        <script type="text/javascript" src="/Scripts/Questao_04.js" defer></script>
    </head>

    <body>
<!--Cabeçalho-->
        <header>
            <div>
                <h1 id="Questao_04">Questão 04</h1>
            </div>
        </header>
<!--Principal-->
        <main>
            <object width="100%" data="./Navegador.html"></object>
            <button onclick="mostrarAlunos()">Clique aqui para ativar o script</button>
        </main>
<!--Rodapé-->
        <footer>
            <object width="100%" data="./rodape.html"></object>
        </footer>
    </body>
</html>